<div class="topMenu p-1">
    Welcome, {{userName}} | profile | logout
    <!-- <ul class="navbar-nav" style="position:absolute;float:right;z-index:1800;top:0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">theme</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" Onclick="setTheme('theme');">default</a>
                <a class="dropdown-item" Onclick="setTheme('cool-blue');">blue</a>
                <a class="dropdown-item" Onclick="setTheme('orange');">orange</a>
                <a class="dropdown-item" Onclick="setTheme('green');">green</a>
            </div>
        </li>
    </ul> -->
</div>