body{
	background:#c4dfe6;
}

.topMenu{
	background:#003b46;
	color:white;
	text-align:right;
	font-size:15px;
}

.secondMenu{
	background:#07575b;
}

.footerMenu{
	background:#66a5ad;
	color:white;
	min-height:250px;
}