html,
body {
   margin:0;
   padding:0;
   height:100%;
   background:#f3e8e8;
   color:white;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   padding:0;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:35px;   /* Height of the footer */
   background:#ee693f;
	color:white;
}
.topMenu{
	background:#ee693f;
	color:white;
	text-align:right;
	font-size:15px;
}
.secondMenu{
	background:#f69454;
}